.faq_section {
    padding: 7.5rem 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        font-family: "Instrument Serif", serif;
        font-size: 5rem;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 0.25px;
        line-height: 1.1;
        margin: 1rem 0;
    }
    .subHeading {
        font-size: 20px;
        font-weight: 300;
        color: rgb(185, 185, 185);
        width: 50%;
        text-align: center;
        line-height: 1.5;
    }
    .faqs-container {
        margin-top: 3rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        .faq-item {
            width: 100%;
            position: relative;
            margin-bottom: 1rem;
            background: rgb(12, 12, 12);
            border-radius: 1rem;
            border: 1px solid rgb(40, 40, 40);
            box-shadow: none;
            overflow: hidden;
            transition: 0.325s ease;
            transition-delay: 0.05s;
            &:hover {
                border-color: rgb(85, 85, 85);
                border-color: #ff7354;
            }
            &:active {
                transition: 0.025s ease;
                border-color: #ff4920;
            }
            &.open {
                box-shadow: 0 4px 28px rgba(0, 0, 0, 0.13);
                .faq-question .faq-icon {
                    transform: rotate(45deg);
                    color: #ff4920;
                    transition: 0.275s ease;
                }
            }
            .faq-question {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.75rem 2rem;
                color: #fff;
                border-radius: 1rem;
                cursor: pointer;
                transition: 0.3s ease;
                h3 {
                    font-size: 22px;
                    font-weight: 500;
                    margin: 0;
                    line-height: 1;
                }
                .faq-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    color: #ff6542;
                    transform-origin: center;
                    transition: 0.225s ease;
                }
            }
            .faq-answer {
                color: rgb(175, 175, 175);
                font-size: 18px;
                font-weight: 300;
                line-height: 1.55;
                width: 87.5%;
                //opacity: 0;
                padding: 0rem 2.25rem;
                display: grid;
                grid-template-rows: 0fr;
                opacity: 0;
                transition: 0.125s ease;
                &.open {
                    padding: 1.5rem 2.25rem 2rem;
                    grid-template-rows: 1fr;
                    opacity: 1;
                    transition: 0.275s ease;
                }
                p {
                    overflow: hidden;
                }
            }
        }
    }
}