header {
    height: 100vh;
    padding: 15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background: linear-gradient(135deg, rgba(5, 5, 10, 1.000) 0.000%, rgba(18, 19, 22, 1.000) 25.000%, rgba(30, 31, 34, 1.000) 50.000%, rgba(41, 42, 45, 1.000) 75.000%, rgba(48, 49, 53, 1.000) 100.000%);
    background: linear-gradient(135deg, rgba(196, 128, 24, 1.000) 0.000%, rgba(186, 104, 0, 1.000) 8.333%, rgba(173, 80, 0, 1.000) 16.667%, rgba(159, 55, 0, 1.000) 25.000%, rgba(144, 30, 0, 1.000) 33.333%, rgba(127, 5, 0, 1.000) 41.667%, rgba(110, 0, 0, 1.000) 50.000%, rgba(92, 0, 0, 1.000) 58.333%, rgba(73, 0, 0, 1.000) 66.667%, rgba(54, 0, 0, 1.000) 75.000%, rgba(36, 0, 0, 1.000) 83.333%, rgba(18, 0, 0, 1.000) 91.667%, rgba(0, 0, 0, 1.000) 100.000%);
    .overHeading {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            object-fit: cover;
            outline: 1px solid rgba(255, 255, 255, 0.6);
            will-change: transform;
            transition: .3s ease;
            transform-origin: center center;
            &:nth-of-type(2) {
                transform: translateX(-15%);
                &:hover {
                    transform: scale(1.25) translate(-15%, -4px);
                }
            }
            &:nth-of-type(3) {
                transform: translateX(-30%);
                &:hover {
                    transform: scale(1.25) translate(-30%, -4px);
                }
            }
            &:nth-of-type(4) {
                transform: translateX(-45%);
                &:hover {
                    transform: scale(1.25) translate(-37.5%, -4px);
                }
            }
            &:hover {
                z-index: 20;
                transform: scale(1.25) translate(0, -4px);
                outline-color: rgba(255, 255, 255, 0);
            }
        }
        p {
            font-family: 'Geist', sans-serif;
            font-size: 20px;
            color: rgb(225, 225, 225);
        }
    }
    h1 {
        font-family: 'Inter', sans-serif;
        font-size: 6rem;
        font-weight: 500;
        letter-spacing: -1.5px;
        line-height: 1.125;
        margin: 1.5rem 0 1rem;
        span {
            font-family: "Instrument Serif", serif;
            font-weight: 400;
            font-style: italic;
        }
    }
    .subHeading {
        font-size: 20px;
        color: rgb(145, 145, 145);
        color: rgb(185, 185, 185);
        display: flex;
        justify-content: center;
        width: 35%;
        margin: 0 auto;
        text-align: center;
        letter-spacing: -0.15px;
        line-height: 1.5;
    }
    .buttons-wrapper {
        margin: 2rem 0 0;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .book-button {
            font-family: 'Geist', sans-serif;
            line-height: 1;
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            background: #ff6542;
            padding: 16px 3rem;
            border: none;
            border-radius: 14px;
            box-shadow: 0 1px 10px rgba(255, 101, 66, 0.2);
            outline: 3px solid rgba(255, 151, 91, 0.3);
            cursor: pointer;
            transition: 0.3s ease;
            transition-delay: 0.05s;
            &:hover {
                background: #f85747;
                box-shadow: 0 4px 16px rgba(255, 101, 66, 0.32);
                outline: 3px solid rgba(255, 151, 91, 0.15);
                transform: translateY(-3px);
            }
        }
        .success-button {
            background: rgba(0, 0, 0, 0.675);
            outline: 3px solid rgba(0, 0, 0, 0.225);
            backdrop-filter: blur(5px);
            font-family: 'Geist', sans-serif;
            line-height: 1;
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            padding: 16px 2.25rem;
            border: none;
            border-radius: 14px;
            box-shadow: 0 1px 10px rgba(255, 101, 66, 0.2);
            cursor: pointer;
            transition: 0.3s ease;
            transition-delay: 0.05s;
            &:hover {
                background: rgba(0, 0, 0, 0.875);
                outline: 3px solid rgba(0, 0, 0, 0.375);
                backdrop-filter: blur(10px);
                transform: translateY(-3px);
            }
        }
    }
    .partners-container {
        margin-top: 5rem;
        text-align: center;
        p {
            color: rgb(200, 200, 200);
            font-family: 'Geist', sans-serif;
            line-height: 1;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 0.25px;
        }
        .logos-wrapper {
            margin-top: 1.75rem;
            display: flex;
            flex-direction: row;
            gap: 5.75rem;
            img {
                aspect-ratio: 2/1;
                height: 4.75vh;
                width: auto;
                overflow: visible;
                object-fit: cover;
                filter: brightness(0) invert(1);
                transition: .25s ease;
                transition-delay: 0.075s;
                &:hover {
                    transform: translateY(-6px);
                    //filter: brightness(100%) invert(0);
                    transition: .475s ease;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    header {
        .overHeading {
            margin-top: 4rem;
        }
        h1 {
            margin-top: 0.5rem;
        }
        .subHeading {
            width: 45%;
        }
    }
}

@media screen and (max-width: 1450px) {
    header {
        .overHeading {
            margin-top: 4rem;
        }
        .subHeading {
            width: 47.5%;
        }
    }
}

@media screen and (max-width: 1370px) {
    header {
        .overHeading {
            margin-top: 5rem;
        }
        .partners-container {
            margin-top: 3.5rem;
        }
    }
}

@media screen and (max-width: 1285px) {
    header {
        .overHeading {
            margin-top: 5rem;
            img {
                height: 45px;
                width: 45px;
            }
        }
        h1 {
            line-height: 1.1;
            margin-bottom: 0.5rem;
            font-size: 5.5rem;
        }
        .subHeading {
            width: 50%;
        }
        .partners-container {
            margin-top: 2.75rem;
            p {
                font-size: 20px;
                letter-spacing: 0;
            }
            .logos-wrapper {
                margin-top: 1.5rem;
                gap: 5.25rem;
                img {
                    height: 4.25vh;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    header {
        padding: 5rem 0;
        .overHeading {
            margin-top: 0rem;
            img {
                height: 40px;
                width: 40px;
            }
            p {
                font-size: 18px;
                letter-spacing: 0.25px;
            }
        }
        h1 {
            font-size: 3.5rem;
            line-height: 1.15;
            margin-top: 1rem;
            margin-bottom: 0.75rem;
        }
        .subHeading {
            width: 99%;
            font-size: 15px;
        }
        .buttons-wrapper {
            margin-top: 2.5rem;
            width: 100%;
            flex-direction: column;
            button {
                width: 85%;
                padding: 18px !important;
            }
        }
        .partners-container {
            margin-top: 3rem;
            p {
                font-size: 18px;
                letter-spacing: 0.25px;
            }
            .logos-wrapper {
                gap: 2.25rem;
                img {
                    height: 3.25vh;
                    &:nth-of-type(2n) {
                        display: none;
                    }
                }
            }
        }
    }
}