nav {
    position: fixed;
    z-index: 99999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.175);
    border-radius: 22px;
    padding: 14px 1.25rem;
    padding-left: 1.5rem;
    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(220, 220, 220);
        cursor: pointer;
        transition: .3s ease;
        &:hover {
            color: rgb(255, 255, 255);
        }
        .logo-icon {
            font-size: 30px;
            cursor: pointer;
        }
        span {
            font-family: 'Geist', sans-serif;
            font-size: 22px;
            line-height: 1;
        }
    }
    .links-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        p {
            line-height: 1;
            padding: 2px;
            font-size: 20px;
            font-weight: 500;
            color: rgb(215, 215, 215);
            will-change: transform;
            cursor: pointer;
            transition: .3s ease;
            &:hover {
                color: rgb(255, 255, 255);
                transform: translateY(-2px);
            }
        }
    }
    button {
        line-height: 1;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: linear-gradient(90deg, #ff6542 0%, #f85747 100%);
        padding: 14px 2rem;
        border: none;
        border-radius: 14px;
        box-shadow: 0 1px 10px rgba(255, 101, 66, 0.2);
        outline: 3px solid rgba(255, 151, 91, 0.3);
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            background: linear-gradient(90deg, #f85747 0%, #ff6542 100%);
            box-shadow: 0 4px 16px rgba(255, 101, 66, 0.32);
            outline: 3px solid rgba(255, 151, 91, 0.15);
        }
        &:active {
            background: linear-gradient(90deg, #d94c32 0%, #ff6542 100%);
            box-shadow: 0 1px 8px rgba(255, 101, 66, 0.15);
        }
    }
}